.container {
    position: relative;
    width: 100%;
}

.center {
    margin: auto;
    width: 60%;
}

textarea {

    width: 50em; /* the inital width of the textarea */
    height: 40em; /* the inital height of the textarea */

    border: 0.1em solid #ccc;
    border-radius: 0.5em;

    background-color: #ffffe6;

}
