@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 30px;
    background-color: #f0f0f0;
}

.container, .backdrop, textarea {
    width: 600px;
    height: 550px;
}

.highlights, textarea {
    padding: 10px;
    font: 20px/28px 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.center {
    margin: auto;
    text-align: center ;
    width: 50%;
}

.container {
    display: block;
    margin: 0 auto;
    transform: translateZ(0);
    -webkit-text-size-adjust: none;
}

.backdrop {
    position: absolute;
    z-index: 1;
    border: 2px solid #685972;
    background-color: #fff;
    overflow: auto;
    pointer-events: none;
    transition: transform 1s;
}

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
}

textarea {
    display: block;
    position: absolute;
    z-index: 2;
    margin: 0;
    border: 2px solid #74637f;
    border-radius: 0;
    color: #444;
    background-color: transparent;
    overflow: auto;
    resize: none;
    transition: transform 1s;
}

mark {
    border-radius: 3px;
    color: transparent;
}

.highlight-one-to-k{
    background-color: #fdd01c;
}

button {
    display: block;
    width: 300px;
    margin: 30px auto 0;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: #74637f;
    font: 18px 'Opens Sans', sans-serif;
    letter-spacing: 1px;
    appearance: none;
    cursor: pointer;
}

textarea:focus, button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #c6aada;
}

footer {
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    text-align: center;
    color: #8e8e93;
}

.btn {
    border-radius: 4px;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
    text-decoration: none;
    padding: 2px 2px 2px 2px;
    font: 12px 'Opens Sans', sans-serif;
}

.btn-twitter {
    color: #8e8e93;
    background: transparent; /* Twitter brand color */
    border: solid #8e8e93 1px;
}
.btn-twitter:hover {
    color: white;
    background: #1b95e0; /* Twitter brand color */
    border: solid transparent 1px;
}

.btn-outline {
    background-color: transparent;
    color: #8e8e93;
    border: solid #8e8e93 1px;
}
.btn-outline:hover {
    background: #222222;
    color: #FFFFFF;
    border: solid transparent 1px;
}